<!DOCTYPE>
<html>

  <head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,100' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='styles/index.css' />
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
  </head>
  <body>


    <div class="header">
      <div class="container">
        <img src="media/Untitled.png" height="300" width="700">
      </div>
      <div class="container">
        <a href="/" class="learn-more">Learn More</a>
      </div>
    </div>  


    <div class="nav">
      <div class="container">
        <ul>
          <a href="#aboutsection">About</a>
          <a href="#aboutsection">Application</a>
          <a href="#contact">Gallery</a>
          <a href="#contact">Contact</a>
        </ul>
      </div>
    </div>


    <div class="main-one">
      <div class="container">
        <div class="quote-box">
          <h2 id="opening-statement">
            <b>"...preparing students for their roles as citizens of Hawai'i and the world."</b></h2>
        </div>
      </div>
    </div>
    <br><br><br>
    <div class="main-one">
      <div class="container">
        <div class="overall">
          <div class="about-container" id="aboutus">
            <div id="aboutdiv">
              <h2>About Us</h2>
            </div>
            <p>Youth Service Hawai‘i began in 1996 with the idea of preparing students for their role as citizens of Hawai'i and the world. Today Youth Service Hawai‘i is a 501(c)(3) corporation, serving educators across the state with service-learning resources. Youth Service Hawai‘i actively works to build awareness of the potential of service-learning as a catalyst for youth, giving information to students, educators and community members. Youth Service Hawai‘i supports the efforts of teachers, students, and community organizations in their development of service-learning through programs that build capacity and a lasting infrastructure for service-learning practice in the State.</p> 
          </div>
          <p class="space"></p>
          <div class="nalei-container">
            <div id="aboutdiv">
              <h2>Na Lei Aloha</h2>
            </div>
            <p>The Nā Lei Aloha Foundation generously provides service-learning grants to teachers through Youth Service Hawaii's Youth Philanthropy Board. The Nā Lei Aloha Foundation is the secular, community-building arm of the Shinnyo-en Buddhist community in Hawaiʻi. Through grantmaking and hosting events that encourage relationship building, collaboration, and mutualsupport,  Nā Lei Aloha Foundation is a convener of individuals and organizations working benefit others. The Nā Lei Aloha Foundation seeks to provide people with opportunities to share in experiences that allow the recognition of shared values and beliefs amidst our differences. The Nā Lei Aloha Foundation believes that a truly peaceful world will result from the process of creating harmony in diversity.</p>
          </div>
        </div>
      </div>
    </div>

    <br><div class="division-bar">
      <div class="container">
        <ul><a href="#division-bar">Who makes it happen?</a></ul></div>
    </div><br>
    
    <div class="main-one">

      <div class="container">
        <div class="overall">
          <div class="about-container" id="aboutus">
            <div id="aboutdiv">
              <h2>Board of Directors</h2>

            </div>
            <ul>
              <!-- <b><h4>NAME GOES HERE</h4><b> -->
              
            </ul>
          </div>
          
          <p class="space"></p>
          
          <div class="nalei-container">
            <div id="aboutdiv">
              <h2>Sponsors</h2>
            </div>
            <p></p>
          </div>
        
        </div>
      </div>
    </div>



  </body>
</html>

