
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
.sponsors-list {
  text-align: center;
}
.main-one {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 97vw;
}
.container {
  margin: 0 auto;
  max-width: 940px;
  padding: 0 10px;
}
.header {
  height: 800px;
  text-align: center;
  color: darkgrey;
  font-family: 'Roboto', sans-serif;
}
p {
  font-size: 20px;
}
#sponsors {
  text-align: center;
}
.header .container {
  position: relative;
  top: 200px;
  text-align: center;
}
.ul {
  width: 100%;
}
.overall {
  display: flex;
  margin-top: 30;
  padding-top: 30px;
  max-width: 100%;
  padding-bottom: 30px;
}

.styled-background {
  display: flex;
  max-width: 100%;
  height: 100px;
  background-color: lightgrey;
}

.quote-box {
  max-width: 100%;
  display: flex;
  margin-top: 30;
  padding-top: 30px;
  border-style: solid;
  border-width: 1.5px;
  border-color: lightgrey;
  box-shadow: 10px 10px lightgrey;
}

/*
.quote-box:hover {
 -webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
transition: 1s ease;}
*/


.about-container {
  margin-right: 20;
  margin-left: 40;
  padding-right: 25px;
  padding-left: 40px;
  width: 490px;
  display: flex;
  flex-direction: column;

    border-style: solid;
  border-width: 1.5px;
  border-color: lightgrey;
}
.nalei-container {
  margin-left: 20;
  margin-right: 40;
  padding-left: 25px;
  padding-right: 40px;
  width: 490px;
  display: flex;
  flex-direction: column;

    border-style: solid;
  border-width: 1.5px;
  border-color: lightgrey;
}

.header h1 {
  font-size: 80px;
  line-height: 100px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
}
.header p {
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 40px;
  letter-spacing: 8px;
}
#opening-statement {
  font-weight: 450;
  letter-spacing: 0.8px;
  font-size: 55px;
  font-style: italic;
  margin-right: 20;
  margin-left: 20;
}

h4 {
  font-weight: 450;
  letter-spacing: 0.8px;
  font-size: 18px;
}
.header a:hover {
  background: #117bff;
  cursor: pointer;
  transition: background 0.5s;
}
.learn-more {
  color: white;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  background-color: black;
  padding: 10px 20px;
}
@media (min-width: 850px) {
  .header h1 {
    font-size: 120px;
  }
}

h1 {
  text-align: left;
}

.header p {
  font-weight: 500;
  letter-spacing: 8px;
  margin-bottom: 40px;
  margin-top: 0;
}

.btn:hover {
  background: #117bff;
  cursor: pointer;
  transition: background 0.5s;
}

/* Division Bar */
.division-bar ul {
  list-style: none;
  margin: 0 auto;
  padding: 30px 0;
  text-align: center;
}
.division-bar {
  background-color: black;
  /* margin-top: -200px; */
}
.division-bar a {
  display: inline-block;
  color: white;
  height: 80px;
  line-height: 80px;
  padding: 0px 10px;
  transition: background 0.5s;
  font-size: 35px;
}

a {
  text-align: center;
  color: white;
  text-decoration: none;
}

/*
.division-bar a:hover {
  background: #117bff;
  cursor: pointer;
  transition: background 0.5s;
}
*/

/* Nav */
.nav ul {
  list-style: none;
  margin: 0 auto;
  padding: 30px 0;
  text-align: center;
}
.nav {
  background-color: black;
  margin-top: -200px;
}
.nav a {
  display: inline-block;
  color: white;
  height: 80px;
  line-height: 80px;
  padding: 0px 10px;
  transition: background 0.5s;
  font-size: 23px;
}

a {
  text-align: center;
  color: white;
  text-decoration: none;
}

.nav a:hover {
  background: #117bff;
  cursor: pointer;
  transition: background 0.5s;
}
/* Main */

.main-one img {
  float: left;
  margin: 50px 80px 50px 0;
  height: 128px;
}

#aboutus {
  margin-top: 0px;
}
/* Jumbotron */
.jumbotron {
  height: 600px;
  text-align: center;
  color: white;
  background-size: cover;
  height: 600px;
}

.jumbotron .container {
  position: relative;
  top: 220px;
}

.jumbotron a:hover {
  background: #117bff;
  cursor: pointer;
  transition: background 0.5s;
}

/* Footer 
.footer {
  font-size: 14px;
  color: white;
  background-color: black;
  margin-top: 500px;
  width: fit-content;
  flex-grow: 1;
}
.footer p {
  height: 80px;
  line-height: 80px;
  margin: 0px;
}
*/

/* Media Queries */
@media (max-width: 500px) {
  .header h1 {
    font-size: 50px;
    line-height: 64px;
  }

  .main-one,
  .jumbotron {
    padding: 0 30px;
  }

  .main-one img {
    width: 100%;
  }
}

.list {
  margin-left: 0px;
}

.headers {
  margin-left: 170px;
}

#aboutdiv {
  display: flex;
  align-items: center;
  justify-content: center;
}


.footer-container {
  width: 100vw;
}
#space {
  margin-bottom: 200px;
}
p {
  align-self: left;
}
